# Importação de Bibliotecas

In [64]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome()

## Acessando Cotações com Selenium

### Cotação Dólar

In [65]:
navegador.get('https://www.google.com.br/')

navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Dólar')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_dolar)

5.1842

### Cotação Euro

In [66]:
navegador.get('https://www.google.com/')

navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Euro')
navegador.find_element('xpath', '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

5.28581032

### Cotação Ouro

In [67]:
navegador.get('https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20293%2C35.')
cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',','.')
print(cotacao_ouro)

navegador.quit()

292.28

## Importação de Base de Dados e Correções de Valores

In [68]:
tabela_produtos = pd.read_excel('Produtos.xlsx')

tabela_produtos.head()

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.4,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.0,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.7,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.7,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.9,34200.000

### Correção de Cotações

In [69]:
tabela_produtos.loc[tabela_produtos['Moeda']=='Dólar', 'Cotação'] = float(cotacao_dolar)
tabela_produtos.loc[tabela_produtos['Moeda']=='Euro', 'Cotação'] = float(cotacao_euro)
tabela_produtos.loc[tabela_produtos['Moeda']=='Ouro', 'Cotação'] = float(cotacao_ouro)
display(tabela_produtos)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.18420,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.28581,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.18420,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.18420,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.28581,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.18420,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,292.28000,7000.00,1.15,8050.000

### Correção de Preços de Compra e Venda

In [70]:
tabela_produtos['Preço de Compra'] = tabela_produtos['Preço Original'] * tabela_produtos['Cotação']
tabela_produtos['Preço de Venda'] = tabela_produtos['Preço de Compra'] * tabela_produtos['Margem']
display(tabela_produtos)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.18420,5184.148158,1.40,7257.807421
1,Carro Renault,4500.00,Euro,5.28581,23786.146440,2.00,47572.292880
2,Notebook Dell,899.99,Dólar,5.18420,4665.728158,1.70,7931.737869
3,IPhone,799.00,Dólar,5.18420,4142.175800,1.70,7041.698860
4,Carro Fiat,3000.00,Euro,5.28581,15857.430960,1.90,30129.118824
5,Celular Xiaomi,480.48,Dólar,5.18420,2490.904416,2.00,4981.808832
6,Joia 20g,20.00,Ouro,292.28000,5845.600000,1.15,6722.440000

## Exportação para novo Arquivo Atualizado

In [71]:
tabela_produtos.to_excel('Produtos - Atualizado.xlsx', index=False)